@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    display: inline-block;
    padding: 0.5em 2em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-primary {
    color: #fff;
    background: #16a063;
}


/* ######################## Navbar Container ######################### */

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}


/* ############### Navbar styling ################### */


/* For desktop mode  */

.navbar input[type='checkbox'],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 99;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}

.logo {
    order: 1;
    font-size: 3rem;
}

.navbar a {
    color: #444444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #117964;
}


/* ##################### Showcase area ####################### */

.showcase-area {
    height: 50vh;
    background: url(./img/header-image2.jpg) no-repeat left;
    background-size: cover;
    /* background-position: center;
    background-repeat: no-repeat; */
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}


/* ################### About styling ################ */

#about {
    padding: 50px 0px;
    background: #f5f5f7;
}

#about h2 {
    font-size: 3.2rem;
}

#about p {
    font-size: 1.6rem;
    color: #555555;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.about-img {
    flex: 1 1 400px;
    padding: 30px;
    width: 100%;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
    100% {
        transform: translate(0);
    }
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: about-img-animation 1s ease-in-out forwards;
}

.about-img img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: left;
    object-position: center;
}


/* ############# Food Menu styling ############### */

#food {
    padding: 5rem 0 10rem 0;
}

#food h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}

.food-container {
    display: flex;
    justify-content: space-between;
}

.food-container img {
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.img-container {
    margin: 0 1rem;
    position: relative;
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 3;
    text-align: center;
}

.img-content h3 {
    color: #fff;
    font-size: 3rem;
}

.img-content a {
    font-size: 1.2rem;
}

.img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
}

.img-container:hover .img-content {
    opacity: 1;
    top: 40%;
}


/* ################## Food menu heading ##################### */

.food-menu-heading {
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    color: #666;
}

.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}

.food-menu-container img {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-items {
    display: flex;
    flex: 1 1 500px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.food-menu-discription {
    margin: auto 1.5rem;
}

.food-title {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
}

.food-menu-discription p {
    font-size: 1.4rem;
    color: #444;
    font-weight: 500;
}

.food-menu-discription .food-price {
    color: #117964;
    font-weight: 700;
}


/* #################### Testimonaial styling ############### */

#testimonial {
    padding: 5rem 0rem;
    background: rgb(243, 243, 243);
}

.testimonial-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
}

.testimonial-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 1rem;
}

.testimonial-container .checked {
    color: #ff9529;
}

.testimonial-box .testimonial-text {
    margin: 1rem 0;
    color: #444444;
}

.testimonial-box {
    text-align: center;
    padding: 1rem;
}

.customer-photo img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}


/* #################### Contact form styling ################## */

#contact {
    padding: 5rem 0;
    background: rgb(216, 216, 216);
}

.contact-container {
    display: flex;
    background: #ffff;
}

.contact-img {
    width: 50%;
}

.contact-img img {
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.form-container {
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form-container input,
textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444444;
    font-weight: 500;
}

.form-container h2 {
    font-size: 3rem;
    font-weight: 400;
    color: #444444;
    margin-bottom: 1rem;
}


/* 
.form-container textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
} */

.form-container a {
    font-size: 1.2rem;
}

#footer h2 {
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    font-weight: 500;
    color: #fff;
    background: rgb(65, 65, 65);
}


/* ############## Media QUireis ############# */

@media (max-width:760px) {
    .navbar {
        opacity: 0.95;
    }
    .navbar input[type='checkbox'],
    .navbar .hamburger-lines {
        display: block;
    }
    .navbar-container {
        display: block;
        position: relative;
    }
    .navbar-container input[type='checkbox'] {
        height: 36px;
        width: 40px;
        position: absolute;
        top: 15px;
        z-index: 3;
        opacity: 0;
    }
    .navbar-container .hamburger-lines {
        height: 30px;
        width: 32px;
        position: absolute;
        top: 15px;
        left: 4px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        background: #333333;
    }
    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.3s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar .menu-items {
        display: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        background: #fff;
        max-width: 300px;
        height: 150vh;
        margin-top: -100px;
        margin-left: -50px;
        padding-top: 150px;
        padding-left: 40px;
        padding-right: 100px;
        /* padding: 40px; */
        transform: translateX(-150%);
        transition: transform 0.3s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }
    .navbar .menu-items li {
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 600;
    }
    .logo {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;
    }
    .navbar-container input[type="checkbox"]:checked~.menu-items {
        display: block;
        transform: translateX(0%);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        /* transform: scaleY(0); */
        display: none;
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    /* ############### Food Catageory ################### */
    .food-container {
        flex-direction: column;
        align-items: stretch;
    }
    .food-type :not(:last-child) {
        margin-bottom: 3rem;
    }
    /* .food-type {
        box-shadow: 5px 5px 10px 0px #aaa;
        height: 100%;
        width: 100%;
    } */
    .img-container {
        margin: auto;
        box-shadow: 5px 5px 10px 0px #aaa;
    }
}

@media(max-width:500px) {
    html {
        font-size: 50%;
    }
    .testimonial-container {
        flex-direction: column;
        text-align: center;
    }
    .food-menu-container img {
        margin: auto;
    }
    .food-menu-items {
        text-align: center;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
    }
    .form-container {
        width: 90%;
    }
    .contact-img {
        margin: 3rem auto;
        width: 90%;
    }
}


/* ############landscape mode############# */

@media (orientation:landscape) and (max-width: height 500px) {
    .showcase-area {
        height: 50vmax;
    }
}